ul {
  display: flex;
  flex-direction: column;
}

ul li {
  list-style-type: none;
}
ul li:first-child {
  order: 3;
}
.clock-li div {
  display: inline-block;
}

/* Color Bar */

.color-bar-container {
  max-width: 300px;
}
