ul {
  display: flex;
  flex-direction: column;
}

ul li {
  list-style-type: none;
}
ul li:first-child {
  order: 3;
}
.clock-li div {
  display: inline-block;
}

/* Clock-Map */

.clock-map-container{
  max-width: 150px;
  background-color: whitesmoke;
}

/* Clock */

.clock-container{
  max-width: 700px;
}

.text-clock{

}

/* Color Bar */

.color-bar-container {
  max-width: 300px;
}
